:root{
    --square-length: min(25vw, 22vh);
}

*{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#board-container{
    display: grid;

    grid-template-columns: repeat(3, var(--square-length));
}

.board-square{
    height: var(--square-length);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;

    font-size: var(--square-length);
}

.player-1{
    color: rgb(255, 100, 80);
}

.player-2{
    color: rgb(50, 115, 255);
}

#play-again-dialog-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    padding: 5px;
}

#player-data-container{
    display: grid;
    grid-template-columns: repeat(2, var(--square-length));
}