:root{
    --square-length: min(25vw, 22vh);
}

html, body{
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#board-container{
    display: grid;

    grid-template-columns: repeat(3, var(--square-length));
}

.board-square{
    height: var(--square-length);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;

    font-size: var(--square-length);
}